<ion-content class="conteudo" [fullscreen]="true">
    <img src="../../assets/logo/gefy.png" alt="logo gefy">
  <div id="container">
    <ion-button class="entrarComGoogle" expand="block" (click)="handleSignIn()">
      <img src="../../assets/logo/google.png" alt="logo Google">
      Sign in with Google
    </ion-button>
  </div>

  <!-- <div class="final">
    <h5>Ou</h5>
      <div class="campos">
        <ion-input placeholder="Email"></ion-input>
        <ion-input placeholder="Senha"></ion-input>
        <input type="email" name="Email" placeholder="Email">
        <input type="password" name="Senha" placeholder="Senha">
      </div>
    <div id="container">
      <ion-button class="logar" expand="block" (click)="handleSignIn()">Login</ion-button>
    </div>
  </div> -->
</ion-content>
